@font-face {
  font-family: 'Marcelus';
  src: url('fonts/Marcelus/marcelusSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/Vollkorn/Vollkorn-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Constantine';
  src: url('fonts/Constantine/Constantine.ttf') format('truetype');
}

@font-face {
  font-family: 'Constantine-bold';
  src: url('fonts/Constantine/Constantine_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Audrey';
  src: url('fonts/Audrey/Audrey 1.0/Audrey-Normal.otf') format('opentype');
}

body {
    margin: 0;
    font-family: 'Audrey'; /* Fallback font */
}

header{
  background-color: #fff;
  z-index: -2;
}

a {
  text-decoration: none;
  color: #2b2a2a; 
}

li {
  list-style: none;
}


nav {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  top:0px;
  width: 100%;
  transition: top 0.3s;
  border-style:solid;
  border-color: #2b2a2a;
  border-width: 0 0 1px 0;
}

.nav-logo {
  margin: 10px;
  height: 60px;
}

.nav-logo img {
  margin-top: -9px;
  height: 80px;
  width: auto
  }

nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

nav ul li {
  margin: -50px 0 0 0; /* Add spacing between nav items */

}


nav ul li a {
  display: block;
  
  color: #2b2a2a;
  font-size: 1.1em;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #2b2a2a;
  color: white;
  border-style: none;
}

.content {
  margin-top: 20px;
}

.image-text {
  position:absolute;
  width: 39%; /* Adjust width for tablets */
  left:30%;
  color: white;
  text-align: center; /* Center text on mobile */
  margin-top: 60px;
}


.image-text h1 {
  font-size: 2em; /* Adjust font size for mobile */
  margin-bottom: 10px;
}

.image-text p {
  font-size: 1.2em; /* Adjust font size for mobile */
  margin: 0;
}

img {
  width: 100%; /* Ensure images are responsive */
  float: right;
  margin-top: 35px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  margin: auto;
}

.card-content {
  display: inline-block;
  width: 150px;
  padding:10px;
}


/*Hamburger Menu*/
.hamburger {
  display: none;
  padding: 5px;
}

.bar {
  display: block;
  position: relative;
  right: 0;
  top: 17px;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2b2a2a;
}
